<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ro.ase.proiect.dam_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProfileTeacherActivity" />
        <activity android:name=".ContestsActivity" />
        <activity android:name=".CreateContestActivity" />
        <activity android:name=".AddQuestionActivity" />
        <activity android:name=".CreateProfileTeacherActivity" />
        <activity android:name=".HomeTeacherActivity" />
        <activity android:name=".EditProfileTeacherActivity" />
        <activity android:name=".CreateProfileStudentActivity" />
        <activity android:name=".ChooseCategoryActivity" />
        <activity android:name=".ChooseQuestionActivity" />
        <activity android:name=".ChooseAnswerActivity" />
        <activity android:name=".RateContestActivity" />
        <activity android:name=".HomeStudentActivity" />
        <activity android:name=".ProfileStudentActivity" />
        <activity android:name=".EditProfileStudentActivity" />
        <activity android:name=".LoginStudentActivity"></activity>
    </application>

</manifest>